* {
  border: none;
  font-family: JetBrains Mono,Ubuntu Nerd Font,Weather Icons,sans-serif;
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

#workspaces,
#custom-media,
#clock,
#network,
#window,
#memory,
#battery,
#cpu,
#backlight,
#pulseaudio,
#temperature,
#custom-notification,
#tray {
  background-color: #2f2f2f;
  padding: 0 10px;
  margin: 6px 1px;
  border-radius: 8px;
  background-clip: padding-box;
}

window#waybar {
  background: rgba(18,18,18, 1);
  background-color: transparent;
}

window > box {
  background: rgba(18,18,18, 0.5);
  border-radius: 12px;
  min-width: 35px;
  margin: 0;
  margin: 10px 10px 0 10px;
  background-clip: border-box;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces {
  margin-left: 8px;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button {
  margin-right: 3px;
  min-width: 5px;
  color: #51a1ff;
}

#workspaces button.active {
  color: #9841bb;
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  color: #9841bb;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
    color: #e06c75;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #9841bb;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all ease 200ms;
}

#window {
  color: #c0bfbc;
  background-color: transparent;
  margin-left:-10px;
  margin-right:-10px;
}

#cpu {
  color: #7ad175;
}

#pulseaudio {
  color: #80e0d4;
}

#pulseaudio.muted {
  background-color: #633e41;
}

#temperature {
  color: #ba72d6;
}

#temperature.critical {
  background-color: #e06c75;
}

#memory {
  color: #f5c211;
}

#custom-media {
  background-color: #2d0e4a;
  padding: 0 4px;
  color: #c0bfbc;
}

#taskbar button {
    margin: -5px;
}

#clock {
  color: #51a1ff;
}

#battery {
  margin-right: 8px;
  color: #c0bfbc;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray {
  margin-right: 8px;
  margin-left: -8px;
}

@keyframes blink {
    to {
        background-color: #2f2f2f;
        color: #e06c75;
    }
}

#network {
    color: #9841bb
}

#network.disconnected {
    background-color: #633e41;
    color: #2f2f2f;
}
